:root {
    --shadow: 0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff0,
        0 0 42px #fff0,
        0 0 82px #fff0,
        0 0 92px #fff0,
        0 0 142px #fff0;
}

::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: "Undefined";
    src: url("./fonts/undefined-medium.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}

div {
    font-family: 'Undefined';
}

body {
    overflow: hidden;
}

#w {
    width: 100vw;
    height: 100vh;
}

#content {
    position: relative;
    height: 75vh;
    margin: 0 auto;
}

#foot {
    height: 10vh;
    position: relative;
    margin: 0 auto;
}

#about {
    margin: auto;
    position: relative;
    float: right;
    text-align: center;
    width: 20vw;
    line-height: 10vh;
    color: white;
    text-shadow: var(--shadow);
    animation: animate 5s linear infinite;
}

#title {
    margin: auto;
    text-align: center;
    line-height: 15vh;
    height: 15vh;
    width: 100%;
    position: relative;
    color: white;
    text-shadow: var(--shadow);
    font-size: 60px;
    vertical-align: middle;
}

@media only screen and (max-width:640px) {
    #title {
        font-size: 36px;
        width: 100%;
    }
}

/* 
@media only screen and (max-width:385px) {
    #title {
        font-size: 30px;
        width: 100%;
    }
} */

#manifesto {
    height: 75vh;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: scroll;
}

/* #omw,
#pil,
#tl {
    display: none;
} */

.section {
    text-align: center;
    color: white;
    font-size: 24px;
    padding: 0.5em;
    margin: 0 1em;
    margin: 0 2em;
    line-height: 110%;
    background: radial-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 25px;
}

.m {
    display: inline-block;
    padding: 0.25em;
    margin: 0 1em;
    margin: 0 auto;
    border-radius: 25px;
    color: white;
    font-size: 20px;
    line-height: 120%;
}

span {
    cursor: pointer;
    font-style: italic;
    text-decoration: underline;
}

span:hover {
    background-color: white;
    color: black;
}

@keyframes animate {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 0;
    }
}

#popup {
    position: absolute;
    justify-content: center;
    z-index: 1;
    width: 20vw;
    height: 20vh;
    overflow: auto;
    background-color: #fff;
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}